.container {
    background-color: #0b3d91;
    width: 30%;
    text-align: center;
    margin: auto;
    box-shadow: 5px 5px rgba(0,0,0,0.3);
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}