<div class ="card">
  <div class="titletext">
    <h1>Nathaniel Eveland</h1>
  </div>
  <div class="container">
    <hr>
    <div class="textspan"><h3>About me</h3></div>
    <p>
	  I am a Full Stack Engineer with experience using PostgreSQL, Java, Javascript, Angular, Python, and C++. I enjoy making software tools to help people to solve problems.
	</p>
	<p>
		When I am not programming, I enjoy playing video games, practicing typing, listening to and playing music, going on walks outside, and spending time with my friends.
	</p>
    <hr>
    <h3>Education</h3>
    <p>
      <i>BS Computer Science,</i> University of Houston, Houston, TX
    </p>
    <p><a href="https://www.youracclaim.com/badges/ce9e1a44-d169-4373-8eff-9362c3140e29?source=linked_in_profile">Certified Full-Stack Developer, Talent Path</a></p>
    <hr>
	<h3>Work Experience</h3>
    <p>
      <strong>IT Experience:</strong>  &lt;1 Year<br>
      <strong>Overall Experience:</strong> 1+ Years
	</p>
	<div class="container">
		<hr>
		<p>
			<strong>Full Stack Engineer</strong><br>
			<i>Talent Path</i><br>
			<span><p>Currently working as a Full Stack Engineer for Talent Path. Responsible for maintaining personal projects as well as taking on new personal and group projects.</p></span>
			
		</p>
		<hr>
		<strong>Previous Industries:</strong>
		<p>
			Package Delivery<br>
			Customer Service
		</p>
	</div>
	<hr>
	<h3>
		Projects:
	</h3>
	<div class="container">
		<hr>
		<strong>TicTacToe Application</strong>
		<p>
			This is a full-stack application in which it is possible to play TicTacToe games in your browser. The app was created with a PostgreSQL database, a Java SpringBoot back end, and a Javascript front end.
			<!-- NOTE: Screenshots go here. -->
		</p>
		<hr>
		<strong>Budget Manager</strong>
		<p>
			This is a full-stack application used to manage a personal budget. It was built using a PostgreSQL database, a Java SpringBoot back end with Spring Security and a REST API, and an Angular front end. 
			It features a fully functional login system which was implemented using Spring Security. Authenticated users can view their transactions, add new transactions, view their transaction history, view their transaction totals for the month and for all time, 
			and create and edit categories which are associated with the transactions that they create.
		</p>
		<hr>
		<strong>US Government Diversity Application</strong>
		<p>
			This is a full-stack application that displays information about diversity in the United States government. It was built using PostgreSQL, Java with SpringBoot, and Angular. 
			The front end also displays a beautiful Tableau dashboard which shows trends in diversity in the US Government over time. This project is currently hosted on Amazon RDS, EC2, and S3.<br>
			<strong><a href="http://diversity-frontend.s3-website.us-east-2.amazonaws.com/">View the project here!</a></strong>
		</p>
	</div>
	<hr>
	<h3>Skills and Strengths:</h3>
	<div class="container">
		<hr>
		<strong>Technologies:</strong>
		<div class="twentypercent">
			<ul>
				<li>Java</li>
				<li>Git</li>
				<li>Javascript</li>
				<li>PostgreSQL</li>
				<li>HTML</li>
				<li>CSS</li>
				<li>Python</li>
				<li>C++</li>
				<li>MATLAB</li>
				<li>Apple OSX</li>
				<li>Microsoft Windows</li>
				<li>Microsoft Office</li>
				<li>GNU&#x2F;Linux</li>
			</ul>
		</div>
		<hr>
		<strong>Other Strengths:</strong>
		<div class="twentypercent">
			<ul>
				<li>Communication</li>
				<li>Leadership</li>
				<li>Customer Service</li>
			</ul>
		</div>
	</div>
	<hr>
	<h3>Contact</h3>
	<div class="container">
		<hr>
		<strong>Email:</strong>
		<p>Personal: <a href="mailto:nevel27043@gmail.com">nevel27043@gmail.com</a></p>
		<p>Work: <a href="mailto:neveland@talentpath.com">neveland@talentpath.com</a></p>
		<strong>Links:</strong>
		<p>LinkedIn: <a href="https://www.linkedin.com/in/nathaniel-eveland/">Nathaniel Eveland</a></p>
		<p>GitHub: <a href="https://github.com/neveland98">neveland98</a></p>
	</div>
</div>